<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}{{text-tr-capfirst brand}}{{/link-to}}
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#each item in menu.topLevel}}
          <li>{{#link-to item.target }}{{text-tr-capitalize item.title}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>

  </div>
</nav>


{{yield}}
